TBD/*

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.bcf
*.run.xml
*.blg
*.bbl
*.ilg
*.ind
*.idx
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
