
# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.bcf
*.run.xml
*.blg
*.bbl
*.ilg
*.ind
*.idx
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg

__pycache__/
*.py[cod]
*.bag
*.db3
*.db3-*
*.mcap
rosbag/
rosbag*/

# Notas locales del informe
Informe/Seguimiento/

# Capitulos en proceso
Informe/Desarrollo/implementacion.tex
Informe/Desarrollo/experimentos.tex
Informe/Desarrollo/resultados.tex
Informe/Desarrollo/discusion.tex
Informe/Desarrollo/conclusiones.tex
Informe/Desarrollo/futuro.tex

# Graficos/Imagenes en proceso
implementacion/
experimentos/
resultados/
discusion/
conclusiones/
trabajo_futuro/
